.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.clearable{
	background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
	padding-right: 18px; /* Use the same right padding (18) in jQ! */
	transition: background 0.4s;
}

.clearable.x {
	background-position: right 5px center;
}
.clearable.onX {
	cursor: pointer;
}

.stripped > .row:nth-of-type(even) {
    background: #f0f0f0;
}
