<div class="container-fluid stripped" ng-show="items.length > 0">
	<div class="row">
		<label>Vetések</label>
	</div>

	<div class="row" ng-repeat="item in items">
		<div class="col-xs-2 col-md-1 text-monospace">
			{{item.currentLocation | location}}
		</div>
		<div class="col-xs-2 col-md-1">
			<button class="btn"  ng-disabled="item.refreshing" ng-class="{'btn-success': !isDone(item), 'btn-warning': isDone(item)}" ng-click="switch(item)">
				<span ng-show="!item.refreshing && !isDone(item)" class="glyphicon glyphicon-ok"></span>
				<span ng-show="!item.refreshing && isDone(item)" class="glyphicon glyphicon-remove"></span>
				<span ng-show="item.refreshing" class="glyphicon glyphicon-refresh"></span>
				{{(!isDone(item) ? 'Kész' : 'Vissza')}}
			</button>
		</div>
	</div>
</div>
