<script type="text/ng-template" id="close-plot-dialog.html">
	<div class="modal-header">
		<h3 class="modal-title">#{{harvests[0].plot}} ágyás lezárása</h3>
	</div>
	<div class="modal-body">
		<p>
			Biztos, hogy lezárod ezt az ágyást? Ha igennel válaszolsz,
			a következő vetésekhez az kerül rögzítésre, hogy <strong>jelenleg nem lehet őket szüretelni</strong>:
		</p>
		<ul>
			<li ng-repeat="harvest in harvests">
				#{{harvest.id}} – {{harvest.produce}}
			</li>
		</ul>
	</div>
	<div class="modal-footer text-center">
		<button class="btn btn-primary" type="button" ng-click="ok()">Igen, lezárom</button>
		<button class="btn btn-danger" type="button" ng-click="cancel()">Még átgondolom</button>
	</div>
</script>

<form name="harvestEstimates" class="form-horizontal" ng-disabled="{{submiting}}" novalidate ng-submit="submit()">
<fieldset>

<!-- Progress -->
<div class="form-group">
	<div class="col-md-3 col-md-offset-4 col-xs-8">
		<uib-progressbar value="storedCount / harvests.length * 100">
		</uib-progressbar>
	</div>
	<div class="col-md-1 col-xs-4 text-center">
		{{storedCount || '?'}} / {{harvests.length || '?'}}
	</div>
</div>

<!-- Date -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label">Dátum</label>
	<div class="col-md-4">
		<div class="input-group">
			<input name="date"
				ng-model="date"
				type="date"
				class="form-control"
				ng-required="true"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
</div>

<!-- Location -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label">Helyszín</label>
	<div class="col-md-4">
		<div class="input-group">
			<select name="location"
				class="form-control"
				ng-model="location"
				ng-options="(locationStatus(location.name) + ' ' + location.name) for location in locations"
				ng-required="true"
				ng-disabled="!locations.length">
			</select>
			<span class="input-group-addon">
				<span ng-show="locations.length" class="glyphicon glyphicon-map-marker"></span>
				<span ng-hide="locations.length" class="glyphicon glyphicon-refresh"></span>
			</span>
		</div>
	</div>
</div>

<!-- Plot -->
<div class="form-group" show-errors>
	<label class="col-md-4 col-xs-12 control-label">Ágyás</label>
	<div class="col-md-3 col-xs-8">
		<div class="input-group">
			<select name="plot"
				class="form-control"
				ng-model="plot"
				ng-options="(plotStatus(plot) + ' #' + plot) for plot in location.plots"
				ng-required="true"
				ng-disabled="!location">
			</select>
			<span class="input-group-addon">
				<span ng-show="locations.length" class="glyphicon glyphicon-th-large"></span>
				<span ng-hide="locations.length" class="glyphicon glyphicon-refresh"></span>
			</span>
		</div>
	</div>
	<div class="col-md-1 col-xs-4">
		<button type="button"
			class="btn btn-primary"
		 	ng-click="closePlot(plot)"
			ng-disabled="!plot || isPlotDone(plot)">
			<span>Lezár</span>
		</button>
	</div>
	<div class="col-md-4 col-md-offset-4 col-xs-12">
		<span class="help-block">
			A "Lezár" gomb az ágyásban minden még fel nem vett vetéshez
			rögzíti, hogy jelenleg nincs benne szüretelhető termény
		</span>
	</div>
</div>

<!-- Harvest -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label">Vetés</label>
	<div class="col-md-4">
		<div class="input-group">
			<select name="harvest"
			 	class="form-control"
				ng-model="harvest"
				ng-options="(harvestStatus(harvest.id) + ' ' + harvest.id + ' – ' + harvest.produce) for harvest in matchingHarvests()"
				ng-required="true"
				ng-disabled="!harvests.length || !products.length || !storedEstimates || !location">
			</select>
			<span class="input-group-addon">
				<span ng-show="harvests.length &amp;&amp; products.length &amp;&amp; storedEstimates" class="glyphicon glyphicon-barcode"></span>
				<span ng-hide="harvests.length &amp;&amp; products.length &amp;&amp; storedEstimates" class="glyphicon glyphicon-refresh"></span>
			</span>
		</div>
	</div>
</div>

<!-- State -->
<div class="form-group">
	<label class="col-md-4 control-label">Állapot</label>
	<div class="col-md-4">
		<div class="input-group">
			<input name="state"
			 	class="form-control"
				ng-model="harvest.state"
				ng-disabled="true">
			</select>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</span>
		</div>
	</div>
</div>

<!-- Estimate -->
<div ng-repeat="estimate in estimates">
	<!-- Product -->
	<div class="form-group" show-errors>
		<label class="col-md-4 control-label" ng-show="$index === 0">Várható szüretmennyiség<span ng-show="estimates.length > 1">ek</span></label>
		<div class="clearfix" ng-show="estimates.length > 1"></div>
		<label class="col-md-4 control-label" ng-show="estimates.length > 1">
			<span>{{$index + 1}}. szüretelendő termék</span>
		</label>
		<div class="col-md-4">
			<div class="input-group">
				<select name="product"
					class="form-control"
					placeholder="termék neve"
					ng-model="estimate.product"
					ng-options="product.name for product in matchingProducts()"
					ng-required="true"
					ng-disabled="!products.length || !harvest">
				</select>
				<span class="input-group-addon">
					<span ng-show="products.length" class="glyphicon glyphicon-shopping-cart"></span>
					<span ng-hide="products.length" class="glyphicon glyphicon-refresh"></span>
				</span>
			</div>
		</div>
	</div>
	<!-- Quantity -->
	<div class="form-group" show-errors>
		<div class="col-md-offset-4 col-md-4">
			<div class="input-group">
				<input name="quantity"
					ng-model="estimate.quantity"
					type="number"
					pattern="\d*(\.\d*)?"
					class="form-control"
					placeholder="mennyiség"
					ng-required="true"
					ng-disabled="!estimate.product"/>
				<span class="input-group-addon">
					<span ng-show="estimate.product">&times; {{estimate.product.unit}}</span>
					<span ng-hide="estimate.product" class="glyphicon glyphicon-question-sign"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-4 col-md-4"
			ng-show="estimates.length > 1">
			<button type="button"
				class="btn btn-block btn-danger"
				ng-click="remove($index)">
				<span class="glyphicon glyphicon-trash"></span>
				<span>Termék törlése</span>
			</button>
		</div>
	</div>
</div>

<!-- Add item -->
<div class="form-group">
	<div class="col-md-4 col-md-offset-4">
		<button type="button"
			class="btn btn-block btn-success"
			ng-disabled="!harvest"
			ng-click="add()">
			<span class="glyphicon glyphicon-plus"></span>
			<span>Még egy terméket fel akarok venni</span>
		</button>
	</div>
</div>

<!-- Income -->
<div class="form-group">
	<label class="col-md-4 control-label">Várható bevétel</label>
	<div class="col-md-4">
		<div class="input-group">
			<input name="price"
				type="number"
				class="form-control"
				ng-required="false"
				ng-disabled="true"
				ng-value="sumIncome()"/>
			<span class="input-group-addon">
				<span>Ft</span>
			</span>
		</div>
	</div>
</div>

<!-- Memo -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="memo">Megjegyzés</label>
	<div class="col-md-4">
		<div class="input-group">
			<textarea name="memo" ng-model="memo" type="text" placeholder="bármi egyéb információ?" class="form-control clearable"></textarea>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-paperclip"></span>
			</span>
		</div>
		<div class="input-group">
			<span class="help-block">Ha kertészeti probléma van az ágyással, azt is írd ide</span>
		</div>
	</div>
</div>

<!-- Submit -->
<div class="form-group">
	<label class="col-md-4 control-label"></label>
	<div class="col-md-4">
		<button type="button" class="btn btn-danger" ng-click="reset()">
			<span class="glyphicon glyphicon-trash"></span>
			Töröl
		</button>
		<button type="submit" class="btn btn-primary pull-right">
			<span class="glyphicon glyphicon-ok"></span>
			Rögzít
		</button>
	</div>
</div>
</fieldset>
</form>
