<div id="print">

<h1>Beszerzési lista – {{today | date : 'EEEE, MMM d, y'}}</h1>

<table class="table table-condensed table-bordered">
    <tbody>
        <tr ng-repeat="note in notes">
            <td>{{note.name}}</td>
            <td class="text-right">{{note.value}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-condensed table-small table-stripped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Termény</th>
            <th>Mennyiség</th>
            <th>Kategória</th>
            <th>Ágyás (biztos)</th>
            <th>Ágyás (lesős)</th>
            <th>Kedzés</th>
            <th>Végzés</th>
            <th>Szüretelő</th>
            <th>Megjegyzés</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in orders">
            <td class="col-md-1 text-right">
                {{$index + 1}}
                <br/>
                <strong><tt>[&nbsp;]</tt></strong>
            </td>
            <td>{{order.product.produce}}</td>
            <td class="text-right">{{order.count}} &times; {{order.product.unit}}</td>
            <td>{{order.product.baseCategory}}</td>
            <td>{{order.plots}}</td>
            <td>{{order.potentialPlots}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

</div>
