<div class="alert alert-danger" role="alert" ng-controller="BrowserController" ng-show="notChrome">A nyomtatás csak <strong>Chrome</strong> alatt működik jól!</div>

<div ng-controller="LabelPrinterController" class="panel panel-default">
	<div class="panel-heading">
		<span>Termék matricák</span>
		<img src="images/logo-hu.png" style="width: 16px; height: 16px;"/>
		<img src="images/logo-en.png" style="width: 16px; height: 16px;"/>
	</div>
	<div class="panel-body">
		<form name="labelPrinter" class="form-horizontal" novalidate ng-submit="printLabels()">
			<fieldset>
				<div class="form-group">
					<label class="col-md-4 control-label">"Export" fájl a webshopból</label>
					<div class="col-md-4">
						<div class="input-group">
							<input name="file"
								type="file"
								class="form-control"
								ng-model="file"
								accept="text/csv"
								ng-required="true"
								onchange="angular.element(this).scope().filePicked(this)"
								ng-disabled="!loaded" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-file"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button type="submit"
							class="btn btn-block btn-primary"
							ng-disabled="labels.length === 0">
							<span class="glyphicon glyphicon-print"></span>
							<span>Nyomtat</span>
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<div ng-controller="PlantingLabelPrinterController" class="panel panel-default">
	<div class="panel-heading">
		<span>Vetési matricák</span>
	</div>
	<div class="panel-body">
		<div style="height: 20em; width: 100%; overflow: scroll;">
			<table class="table table-stripped table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>ID</th>
						<th>Termék</th>
						<th>Dátum</th>
						<th>Hely</th>
						<th>Mennyiség</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="label in labels">
						<td><input type="checkbox" ng-model="label.selected"/></td>
						<td>{{label.id}}</td>
						<td>{{label.produce}}</td>
						<td>{{label.plantingDate | date : 'MMM d'}}</td>
						<td>#{{label.plot}} {{label.strip}}</td>
						<td>#{{label.plantingCount}} {{label.plantingUnit}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<form name="plantingLabelPrinter" novalidate ng-submit="printLabels()">
			<fieldset>
				<div class="form-group">
					<div class="col-md-2">
						<button type="button"
							class="btn btn-block btn-success"
							ng-click="selectAll(true)"
							ng-disabled="labels.length == 0">
							<span class="glyphicon glyphicon-ok"></span>
							<span>Mind</span>
						</button>
					</div>
					<div class="col-md-2">
						<button type="button"
							class="btn btn-block btn-danger"
							ng-click="selectAll(false)"
							ng-disabled="labels.length == 0">
							<span class="glyphicon glyphicon-remove"></span>
							<span>Egyik sem</span>
						</button>
					</div>
					<div class="col-md-4">
						<button type="submit"
							class="btn btn-block btn-primary"
							ng-disabled="labels.length == 0">
							<span class="glyphicon glyphicon-print"></span>
							<span>Nyomtat</span>
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<div ng-controller="OrderPrinterController" class="panel panel-default">
	<div class="panel-heading">
		<span>Beszerzési lista</span>
	</div>
	<div class="panel-body">
		<form name="orderPrinter" class="form-horizontal" novalidate ng-submit="printOrders()">
			<fieldset>

				<!-- Date -->
				<div class="form-group" show-errors>
					<label class="col-md-4 control-label">Szüretösszeírás dátuma</label>
					<div class="col-md-4">
						<div class="input-group">
							<input name="date"
								ng-model="date"
								type="date"
								class="form-control"
								ng-required="true"/>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>

				<!-- File -->
				<div class="form-group">
					<label class="col-md-4 control-label">"Beszerzési lista" fájl a webshopból</label>
					<div class="col-md-4">
						<div class="input-group">
							<input name="file"
								type="file"
								class="form-control"
								ng-model="file"
								accept="text/csv"
								ng-required="true"
								onchange="angular.element(this).scope().filePicked(this)"
								ng-disabled="!products || !estimates || !potentialHarvests" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-file"></span>
							</span>
						</div>
					</div>
				</div>

				<!-- Submit -->
				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button type="submit"
							class="btn btn-block btn-primary"
							ng-disabled="orders.length === 0">
							<span class="glyphicon glyphicon-print"></span>
							<span>Nyomtat</span>
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!--
<div ng-controller="PriceTagPrinterController">
<form name="pricetagPrinter" class="form-horizontal" novalidate ng-submit="printPriceTags()">
<fieldset>
<div class="form-group">
	<label class="col-md-2 control-label">Árcímke nyomtatás</label>
	<div class="col-md-4">
		<a href="https://docs.google.com/spreadsheets/d/1cevdnj2MpVhT8wNpn9_iQkvWnv-EPg7qzZ-1x2hjuiY/edit#gid=0" target="_blank" class="btn btn-warning">
			Adatok szerkesztése
			<span class="glyphicon glyphicon-new-window"></span>
		</a>
		<br/>
		KAPÁ-t újratölteni szerkesztetés után!
	</div>
 	<div class="col-md-2">
		<button type="submit" class="btn btn-primary" ng-disabled="priceTags.length == 0">
			<img src="images/logo-hu-small.png" style="width: 16px; height: 16px;"/>
			Nyomtat
			<img src="images/logo-en-small.png" style="width: 16px; height: 16px;"/>
		</button>
	</div>
</div>

</fieldset>
</form>
</div>
-->

<div class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label">Napló</label>
		<div class="col-md-6">
			<div class="log" id="printingLog">
</div>
		</div>
	</div>
</div>
