@import url(https://fonts.googleapis.com/css?family=BenchNine:400,700,300&subset=latin,latin-ext);

@media print {
	#header, #footer, #nav {
		display: none !important;
	}
	@page {
		size: "a4";
		margin: 0;
		padding: 0;
	}
	.label {
		page-break-inside: avoid;
	}
	.label:nth-child(12n) {
		page-break-after: always;
	}
}

html, body {
	margin: 0;
	padding: 0;
	width: 210mm;
	font-family: 'BenchNine', sans-serif;
	font-size: 3mm;
}

body {
	margin-top: -2mm;
	margin-left: 3.5mm;
}

.label {
	float: left;
	width: 43.3mm; /* 43.3mm; */
	height: 19.75mm; /* 20.6mm; */
	border-right: 0.5mm dashed white;
	border-bottom: 0.5mm dashed white;
	margin: 0;
	overflow: hidden;
	padding: 4mm;
}

.label:nth-child(4n) {
	border-right: 0;
}
