<form>
    <fieldset ng-disabled="!ready">
        <span ng-show="filterProperty">
            <label>Filter:</label> <input ng-model="filter"></input>
        </span>
        <button class="btn btn-xs btn-success" ng-click="table.addItem()" ng-disabled="filter">+ Hozzáadás</button>
        <button class="btn btn-xs btn-danger"  ng-click="table.removeSelectedItems()" ng-disabled="filter">– Törlés</button>
        <button class="btn btn-xs btn-warning" ng-click="dump()">Dump</button>
    </fieldset>
</form>
<div></div>
