<div class="container">
	<div class="row">
		<form class="form-inline controls">
			<fieldset ng-disabled="!ready">
				<div class="form-group form-group-sm" ng-repeat="filterProperty in filters">
					<label class="control-label" for="filter-{{filterProperty.name}}">{{filterProperty.title}}</label>
					<input
						class="form-control"
						id="filter-{{filterProperty.name}}"
						ng-model="$parent.filterValues[filterProperty.name]"
					></input>
				</div>
				<button class="btn btn-xs btn-success" ng-click="table.addItem()" ng-disabled="filter">+ Hozzáadás</button>
				<button class="btn btn-xs btn-danger"  ng-click="table.removeSelectedItems()" ng-disabled="filter">– Törlés</button>
				<button class="btn btn-xs btn-warning" ng-click="dump()">Dump</button>
			</fieldset>
		</form>
	</div>
	<div class="row">
		<div class="col-md-8 hot-container">
			<div class="hot"></div>
		</div>
		<div class="col-md-4 hot-form">
			<form class="form-horizontal" ng-model="item">
				<fieldset ng-disabled="!item">
					<div class="form-group form-group-sm" ng-repeat="property in table.properties">
						<label class="col-md-4 control-label">{{property.title}}</label>
						<div class="col-md-8 input-group">
							<span ng-if="isSimple(property)" ng-switch="property.type">
								<input ng-switch-when="text" class="form-control" ng-model="prop(property)" ng-model-options="{ getterSetter: true }" type="text" ng-readonly="property.readOnly" />
								<input ng-switch-when="numeric" class="form-control" ng-model="prop(property)" ng-model-options="{ getterSetter: true }" type="number" ng-readonly="property.readOnly" />
								<input ng-switch-when="date" class="form-control" ng-model="prop(property)" ng-model-options="{ getterSetter: true }" type="text" placeholder="YYYY-MM-DD" ng-readonly="property.readOnly" />
								<select ng-switch-when="dropdown" class="form-control" ng-model="prop(property)" ng-model-options="{ getterSetter: true }" ng-options="item for item in property.source" ng-readonly="property.readOnly">
									<option></option>
								</select>
							</span>
							<span ng-if="isReference(property)">
								<select class="form-control" ng-model="prop(property)" ng-model-options="{ getterSetter: true }" ng-options="item for item in property.target.items.models" ng-readonly="property.readOnly">
									<option></option>
								</select>
							</span>
							<span ng-if="property.unit" class="input-group-addon">{{property.unit}}</span>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
