<form id="form" name="transaction" class="form-horizontal" ng-disabled="{{submiting}}" novalidate ng-submit="submit()">
<fieldset>

<!-- Transaction Type -->
<div class="form-group types">
	<label class="col-md-4 control-label">Transaction type</label>
	<div class="col-md-4">
		<div class="btn-group">
			<label class="btn btn-danger btn-lg" ng-model="type" btn-radio="'withdrawal'">
				<span class="glyphicon glyphicon-minus"></span>
			</label>
			<label class="btn btn-success btn-lg" ng-model="type" btn-radio="'deposit'">
				<span class="glyphicon glyphicon-plus"></span>
			</label>
			<label class="btn btn-primary btn-lg" ng-model="type" btn-radio="'transfer'">
				<span class="glyphicon glyphicon-transfer"></span>
			</label>
		</div>
	</div>
</div>

<!-- Payee -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="payee">Payee</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="payee" name="payee" ng-model="payee" type="text" typeahead="payee for payee in payees | filter:$viewValue" typeahead-min-length="0" class="form-control clearable" placeholder="who is the payee?" ng-required="true" />
			<small class="error" ng-show="transaction.payee.$error.ng-required">Payee is required.</small>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
			</span>
		</div>
	</div>
</div>

<!-- Amount -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="amount">Amount</label>	
	<div class="col-md-4">
		<div class="input-group">
			<input id="amount" name="amount" ng-model="amount" type="number" pattern="\d*" class="form-control amount" placeholder="the money" ng-required="true" ng-class="{
	'account-withdrawal': type == 'withdrawal',
	'account-deposit': type == 'deposit',
	'account-transfer': type == 'transfer'
			}"/>
			<span class="input-group-addon">Ft</span>
		</div>
	</div>
</div>

<!-- Source Account -->
<div class="form-group" show-errors ng-show="type == 'withdrawal' || type == 'transfer'">
	<label class="col-md-4 control-label" for="sourceAccount">Withdraw from</label>
	<div class="col-md-4">
		<div class="input-group">
	  		<input id="sourceAccount" name="sourceAccount" ng-model="sourceAccount" type="text" typeahead="account for account in accounts | filter:$viewValue" typeahead-min-length="0" class="form-control clearable" placeholder="which account did we withdraw from?" ng-required="type == 'withdrawal' || type == 'transfer'"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-open"></span>
			</span>
	  	</div>
	</div>
</div>

<!-- Target Account -->
<div class="form-group" show-errors ng-show="type == 'deposit' || type == 'transfer'">
	<label class="col-md-4 control-label" for="targetAccount">Deposit to</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="targetAccount" name="targetAccount" ng-model="targetAccount" type="text" typeahead="account for account in accounts | filter:$viewValue" typeahead-min-length="0" class="form-control clearable" placeholder="which account did we withdraw from?" ng-required="type == 'deposit' || type == 'transfer'"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-save"></span>
			</span>
		</div>
	</div>
</div>

<!-- Status -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="status">Status</label>
	<div class="col-md-4">
		<div class="input-group">
			<select id="status" name="status" ng-model="status" class="form-control" ng-required>
				<option value="paid">paid</option>
				<option value="pending">pending</option>
				<option value="planned">planned</option>
			</select>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-check"></span>
			</span>
		</div>
	</div>
</div>

<!-- Category -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="category">Category</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="category" name="category" type="text" ng-model="category" typeahead="category for category in categories | filter:$viewValue" typeahead-min-length="0" class="form-control clearable" placeholder="what is this transaction about?" ng-required="true"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-tags"></span>
			</span>
		</div>
	</div>
</div>

<!-- Memo -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="memo">Memo</label>	
	<div class="col-md-4">
		<div class="input-group">
			<input id="memo" name="memo" ng-model="memo" type="text" placeholder="anything else to add?" class="form-control clearable" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-paperclip"></span>
			</span>
		</div>
	</div>
</div>

<!-- Date -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="date">Date</label>	
	<div class="col-md-4">
		<div class="input-group">
			<input id="date" name="date" ng-model="date" type="date" placeholder="when to book it" class="form-control" ng-required="true"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
</div>

<!-- Submit -->
<div class="form-group">
	<label class="col-md-4 control-label" for="submit"></label>
	<div class="col-md-4">
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-ok"></span>
			Submit
		</button>
		<button type="button" class="btn btn-danger pull-right" ng-click="reset()">
			<span class="glyphicon glyphicon-trash"></span>
			Reset
		</button>
	</div>
</div>
</fieldset>
</form>

<script type="text/ng-template" id="save-dialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Submitting new transaction</h3>
    </div>
    <div class="modal-body">
    	Working...
    </div>
    <div class="modal-footer">
    	Please wait...
    </div>
</script>
