<form name="transaction" class="form-horizontal" ng-disabled="{{submiting}}" novalidate ng-submit="submit()">
<fieldset>

<!-- Transaction Type -->
<div class="form-group">
	<label class="col-md-4 control-label">Tranzakció típusa</label>
	<div class="col-md-4">
		<div class="btn-group">
			<label class="btn btn-danger" ng-model="type" btn-radio="'withdrawal'">
				<span class="glyphicon glyphicon-open"></span>
				kivét
			</label>
			<label class="btn btn-success" ng-model="type" btn-radio="'deposit'">
				<span class="glyphicon glyphicon-save"></span>
				betét
			</label>
			<label class="btn btn-primary" ng-model="type" btn-radio="'transfer'">
				<span class="glyphicon glyphicon-transfer"></span>
				transzfer
			</label>
		</div>
	</div>
</div>

<!-- Payee -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="payee">Üzletfél</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="payee" name="payee" ng-model="payee" type="text" typeahead="payee for payee in find(payees, $viewValue)" typeahead-min-length="0" class="form-control clearable" placeholder="kinek fizettünk?" ng-required="true" />
			<small class="error" ng-show="transaction.payee.$error.ng-required">Az üzletfelet meg kell adnod.</small>
			<span class="input-group-addon">
				<span ng-show="payees.length" class="glyphicon glyphicon-user"></span>
				<span ng-hide="payees.length" class="glyphicon glyphicon-refresh"></span>
			</span>
		</div>
	</div>
</div>

<!-- Amount -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="amount">Összeg</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="amount" name="amount" ng-model="amount" type="number" pattern="\d*" class="form-control amount" placeholder="mennyit fizettünk?" ng-required="true" ng-class="{
	'account-withdrawal': type == 'withdrawal',
	'account-deposit': type == 'deposit',
	'account-transfer': type == 'transfer'
			}"/>
			<span class="input-group-addon">Ft</span>
		</div>
	</div>
</div>

<!-- Source Account -->
<div class="form-group" show-errors ng-show="type == 'withdrawal' || type == 'transfer'">
	<label class="col-md-4 control-label" for="sourceAccount">Felvétel erről a számláról</label>
	<div class="col-md-4">
		<div class="input-group">
	  		<input id="sourceAccount" name="sourceAccount" ng-model="sourceAccount" type="text" typeahead="account for account in find(accounts, $viewValue)" typeahead-min-length="0" class="form-control clearable" placeholder="melyik számláról fizettünk?" ng-required="type == 'withdrawal' || type == 'transfer'"/>
			<span class="input-group-addon">
				<span ng-show="accounts.length" class="glyphicon glyphicon-open"></span>
				<span ng-hide="accounts.length" class="glyphicon glyphicon-refresh"></span>
			</span>
	  	</div>
	</div>
</div>

<!-- Target Account -->
<div class="form-group" show-errors ng-show="type == 'deposit' || type == 'transfer'">
	<label class="col-md-4 control-label" for="targetAccount">Betét erre a számlára</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="targetAccount" name="targetAccount" ng-model="targetAccount" type="text" typeahead="account for account in find(accounts, $viewValue)" typeahead-min-length="0" class="form-control clearable" placeholder="melyik számlára fizettünk be?" ng-required="type == 'deposit' || type == 'transfer'"/>
			<span class="input-group-addon">
				<span ng-show="accounts.length" class="glyphicon glyphicon-save"></span>
				<span ng-hide="accounts.length" class="glyphicon glyphicon-refresh"></span>
			</span>
		</div>
	</div>
</div>

<!-- Status -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="status">Státusz</label>
	<div class="col-md-4">
		<div class="input-group">
			<select id="status" name="status" ng-model="status" class="form-control" ng-required="true">
				<option value="paid">fizetett</option>
				<option value="pending">függőben</option>
				<option value="planned">tervezett</option>
			</select>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-check"></span>
			</span>
		</div>
	</div>
<!--
	<div class="col-md-4">
		<label>Debug status:</label>
		<span>{{status}}</span>
	</div>
-->
</div>

<!-- VAT -->
<div class="form-group" ng-show="type != 'transfer'" show-errors>
	<label class="col-md-4 control-label" for="vat">ÁFÁs számla</label>
	<div class="col-md-4">
		<div class="input-group">
			<select id="vat" name="vat" ng-model="vat" class="form-control" ng-required="type != 'transfer'" ng-options="option.value as option.name for option in [{ name: 'igen', value: true }, { name: 'nem', value: false }]">
			</select>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-check"></span>
			</span>
		</div>
	</div>
</div>

<!-- Category -->
<div class="form-group" ng-show="type != 'transfer'" show-errors>
	<label class="col-md-4 control-label" for="category">Kategória</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="category" name="category" type="text" ng-model="category" typeahead="category.name for category in find(categories, $viewValue, 'name')" typeahead-min-length="0" class="form-control clearable" placeholder="milyen kategóriába tartozik ez a tranzakció?" ng-required="type != 'transfer'"/>
			<span class="input-group-addon">
				<span ng-show="categories.length" class="glyphicon glyphicon-tag"></span>
				<span ng-hide="categories.length" class="glyphicon glyphicon-refresh"></span>
			</span>
		</div>
	</div>
</div>

<!-- Transaction Date -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="transactionDate">Teljesítés dátuma</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="transactionDate" name="transactionDate" ng-model="transactionDate" type="date" placeholder="mikor történt a teljesítés?" class="form-control" ng-required="true"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
</div>

<!-- Payment Date -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="paymentDate">Fizetés dátuma</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="paymentDate" name="paymentDate" ng-model="paymentDate" type="date" placeholder="mikor történt a kifizetés?" class="form-control" ng-required="true"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
</div>

<!-- Memo -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="memo">Megjegyzés</label>
	<div class="col-md-4">
		<div class="input-group">
			<input id="memo" name="memo" ng-model="memo" type="text" placeholder="bármi egyéb információ?" class="form-control clearable" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-paperclip"></span>
			</span>
		</div>
	</div>
</div>

<!-- Submit -->
<div class="form-group">
	<label class="col-md-4 control-label"></label>
	<div class="col-md-4">
		<button type="button" class="btn btn-danger" ng-click="reset()">
			<span class="glyphicon glyphicon-trash"></span>
			Töröl
		</button>
		<button type="submit" class="btn btn-primary pull-right">
			<span class="glyphicon glyphicon-ok"></span>
			Rögzít
		</button>
	</div>
</div>
</fieldset>
</form>
