.handsontable td,
.handsontable th {
	font-size: 10pt;
}

.handsontable td {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.handsontable .htAutocompleteArrow {
	float: none;
	position: absolute;
	top: 0;
	right: 0;
}

.hot-container {
	padding: 0;
}

td.currentRow {
	background-color: #f0fff0;
}

td.currentCol {
	background-color: #f8fff8;
}

td.default {
	color: #448;
}

td.override {
	font-weight: bold;
}

.controls .form-group-sm .control-label {
	font-size: 12px;
}

.controls .form-group-sm .form-control {
	height: 20px;
	padding: 2px 4px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px;
}
