<div ng-controller="PlantingLabelPrinterController">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span>Vetési matricák</span>
		</div>
		<div class="panel-body" style="height: 20em; overflow: scroll;">
			<table class="table table-stripped table-condensed">
				<thead>
					<tr>
						<th></th>
						<th>ID</th>
						<th>Termék</th>
						<th>Vetés dátuma</th>
						<th>Hely</th>
						<th>Mennyiség</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="label in labels">
						<td><input type="checkbox" ng-model="label.selected"/></td>
						<td>{{label.id}}</td>
						<td>{{label.produce}}</td>
						<td>{{label.plantingDate | date : 'MMM d'}}</td>
						<td>#{{label.plot}} {{label.strip}}</td>
						<td>{{label.plantingCount}} {{label.plantingUnit}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<form name="plantingLabelPrinter" novalidate ng-submit="printLabels()">
		<fieldset>
			<div class="form-group">
				<div class="col-md-2 col-md-offset-3">
					<button type="button"
						class="btn btn-block btn-success"
						ng-click="selectAll(true)"
						ng-disabled="labels.length == 0">
						<span class="glyphicon glyphicon-ok"></span>
						<span>Mind</span>
					</button>
				</div>
				<div class="col-md-2">
					<button type="button"
						class="btn btn-block btn-danger"
						ng-click="selectAll(false)"
						ng-disabled="labels.length == 0">
						<span class="glyphicon glyphicon-remove"></span>
						<span>Egyik sem</span>
					</button>
				</div>
				<div class="col-md-2">
					<button type="submit"
						class="btn btn-block btn-primary"
						ng-disabled="labels.length == 0">
						<span class="glyphicon glyphicon-print"></span>
						<span>Nyomtat</span>
					</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
