.label .data,
.label .title {
	padding: 0;
	overflow: hidden;
}

.label .section {
	padding: 0;
	margin-bottom: -1mm;
	white-space: nowrap;
	overflow: hidden;
}

.label .data,
.label .title {
	display: inline-block;
}

.label .data {
	font-weight: bold;
}

.label .title {
	color: #888;
}

.label .identification {
	font-weight: bold;
	border-bottom: 0.25mm dashed black;
}

.label .identification .data {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.label .left {
	float: left;
	clear: left;
	width: 30mm;
	border-right: 0.25mm dashed black;
	margin-right: 0.5mm;
}

.label .right {
	clear: right;
	padding-left: 2mm;
}

.label .id {
	font-size: 5.2mm;
	font-weight: bold;
	float: left;
	padding: 0;
	margin: 0;
	margin-right: 0.5mm;
	padding-left: 0.25mm;
	padding-right: 0.25mm;
	border: 0.5mm solid black;
}
