<form name="work" class="form-horizontal" ng-disabled="{{submiting}}" novalidate ng-submit="submit()">
<fieldset>

<!-- Employee -->
<div class="form-group">
	<label class="col-md-4 control-label">Munkatárs</label>
	<div class="col-md-4">
		<div class="input-group">
			<select name="employee" class="form-control" ng-model="employee" ng-options="employee.name for employee in employees" ng-required="true" ng-disabled="!employees.length"></select>
			<span class="input-group-addon">
				<span ng-show="employees.length" class="glyphicon glyphicon-user"></span>
				<span ng-hide="employees.length" class="glyphicon glyphicon-refresh"></span>
			</span>
		</div>
	</div>
</div>

<!-- Hours -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label">Eltöltött idő</label>
	<div class="col-md-4">
		<div class="input-group">
			<input name="hours" ng-model="hours" type="number" pattern="\d*" class="form-control" placeholder="ledolgozott órák" ng-required="!minutes"/>
			<span class="input-group-addon">óra</span>
		</div>
		<div class="input-group">
			<input name="minutes" ng-model="minutes" type="number" pattern="\d*" class="form-control" placeholder="ledolgozott percek" ng-required="!hours"/>
			<span class="input-group-addon">perc</span>
		</div>
	</div>
</div>

<!-- Category -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label">Kategória</label>
	<div class="col-md-4">
		<div class="input-group">
			<input name="category" type="text" ng-model="category" typeahead="category.hungarian for category in find(categories, $viewValue, 'hungarian')" typeahead-min-length="0" class="form-control clearable" placeholder="min dolgozott?" ng-required="true"/>
			<span class="input-group-addon">
				<span ng-show="categories.length" class="glyphicon glyphicon-tags"></span>
				<span ng-hide="categories.length" class="glyphicon glyphicon-refresh"></span>
			</span>
		</div>
	</div>
</div>

<!-- Memo -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label" for="memo">Megjegyzés</label>	
	<div class="col-md-4">
		<div class="input-group">
			<input name="memo" ng-model="memo" type="text" placeholder="bármi egyéb információ?" class="form-control clearable" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-paperclip"></span>
			</span>
		</div>
	</div>
</div>

<!-- Date -->
<div class="form-group" show-errors>
	<label class="col-md-4 control-label">Dátum</label>	
	<div class="col-md-4">
		<div class="input-group">
			<input name="date" ng-model="date" type="date" placeholder="melyik nap végezték a munkát?" class="form-control" ng-required="true"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
</div>

<!-- Submit -->
<div class="form-group">
	<label class="col-md-4 control-label"></label>	
	<div class="col-md-4">
		<button type="button" class="btn btn-danger" ng-click="reset()">
			<span class="glyphicon glyphicon-trash"></span>
			Töröl
		</button>
		<button type="submit" class="btn btn-primary pull-right">
			<span class="glyphicon glyphicon-ok"></span>
			Rögzít
		</button>
	</div>
</div>
</fieldset>
</form>

<div class="container-fluid stripped" ng-show="recentItems.length > 0">
	<div class="row">
		<label>Ma felvett munkák</label>
	</div>

	<div class="row" ng-repeat="item in recentItems | reverse">
		<div class="col-xs-2 col-md-1">
			{{item.employee}}
		</div>
		<div class="col-xs-2 col-md-1">
			{{formatTime(item.hours)}}
		</div>
		<div class="col-xs-8 col-md-5">
			{{convertCategoryFromEnglishToHungarian(item.category)}}
		</div>
		<div class="col-xs-8 col-xs-offset-4 col-md-5 col-md-offset-0">
			{{item.memo}}
		</div>
	</div>
</div>
